In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from pandas import json_normalize


from adjustText import adjust_text
from matplotlib import cm
import matplotlib.patheffects as path_effects

In [3]:
with open(r"Fulham_Arsenal.json") as f:
    md = json.load(f)

In [6]:
side = "home" if md["home"]["name"] == "Arsenal" else "away"  
team_id = md[side]["teamId"]

In [7]:
df = json_normalize(md["events"], sep="_")

In [8]:
df

,eventId,expandedMinute,id,isTouch,minute,qualifiers,satisfiedEventsTypes,second,teamId,x,...,satisfiers,text,minuteInfo_expandedMinute,minuteInfo_extraTime,minuteInfo_isEndOfPeriod,minuteInfo_minute,minuteInfo_minuteString,minuteInfo_period,type_$idx,type_$len
0,2,0,2210244067,False,0,[],[],0.0,13,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,2210244065,False,0,[],[],0.0,170,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,2210244073,True,0,"[{'type': {'displayName': 'Angle', 'value': 21...","[90, 116, 29, 34, 36, 215, 217]",0.0,170,49.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,2210244081,True,0,"[{'type': {'displayName': 'PassEndX', 'value':...","[90, 116, 29, 34, 36, 215, 217]",1.0,170,37.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,2210244095,True,0,"[{'type': {'displayName': 'Length', 'value': 2...","[90, 116, 29, 34, 37, 214, 217]",3.0,170,35.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643,926,94,2210272807,False,92,[],[],58.0,13,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,927,4,2210272901,False,0,[],[],0.0,13,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,819,4,2210273175,False,0,[],[],0.0,170,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,1,0,2210228675,False,0,"[{'type': {'displayName': 'TeamFormation', 'va...",[],0.0,170,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647,1,0,2210228697,False,0,"[{'type': {'displayName': 'CaptainPlayerId', '...",[],0.0,13,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN