In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
import json
from webdriver_manager.chrome import ChromeDriverManager
from pandas.io.json import json_normalize
import pandas as pd

In [2]:
# chrome_options = webdriver.ChromeOptions()
# chrome_options.set_capability('browserless.token', '2a8ee308-e21e-4e33-9185-159ee787285f')
# chrome_options.add_argument("--no-sandbox")
# chrome_options.add_argument("--headless")

# driver = webdriver.Remote(
#   command_executor='https://chrome.browserless.io/webdriver',
#   desired_capabilities=chrome_options.to_capabilities()
# )

# driver.get("https://www.whoscored.com/Matches/1485203/Live/England-Premier-League-2020-2021-Wolverhampton-Wanderers-Manchester-City", verify=False)
# data = driver.execute_script("return matchCentreData;")

# with open('data.json', 'w', encoding='utf-8') as f:
#     json.dump(data, f, ensure_ascii=False, indent=4)
       
# driver.quit()

In [3]:
driver = webdriver.Chrome(ChromeDriverManager().install())

driver.get('https://www.whoscored.com/Matches/1394140/Live/Spain-LaLiga-2019-2020-Atletico-Madrid-Getafe')
data = driver.execute_script("return matchCentreData;")

with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)
       
driver.close()

[WDM] - Current google-chrome version is 85.0.4183
[WDM] - Get LATEST driver version for 85.0.4183
[WDM] - Get LATEST driver version for 85.0.4183
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/85.0.4183.87/chromedriver_mac64.zip

[WDM] - Driver has been saved in cache [/Users/ollinj01/.wdm/drivers/chromedriver/mac64/85.0.4183.87]

In [4]:
home_team, away_team = data["home"]["name"], data["away"]["name"]
with open(f"{home_team}_{away_team}.json", "w") as f: ## save as Arsenal_Liverpool.json in present directory
    json.dump(data, f, indent=4)

In [6]:
with open('data.json') as json_file:
    data = json.load(json_file)
    
formation = []
number = []
playerid = []

for team_type in ['home', 'away']:
    for _ in data[team_type]['formations']:
        formation.append(_['formationSlots'])
        number.append(_['jerseyNumbers'])
        playerid.append(_['playerIds'])
        

             
lineup = pd.DataFrame({'formation':formation, 'number':number, 'playerid':playerid})

In [7]:
lineup

,formation,number,playerid
0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[26, 2, 15, 3, 23, 16, 25, 34, 30, 7, 14, 1, 4...","[102248, 125211, 255169, 297403, 27586, 288795..."
1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[26, 17, 15, 3, 23, 16, 25, 34, 30, 7, 14, 1, ...","[102248, 69945, 255169, 297403, 27586, 288795,..."
2,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[26, 17, 15, 3, 23, 16, 25, 34, 30, 28, 14, 1,...","[102248, 69945, 255169, 297403, 27586, 288795,..."
3,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[26, 17, 15, 3, 23, 16, 25, 34, 24, 28, 14, 1,...","[102248, 69945, 255169, 297403, 27586, 288795,..."
4,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[26, 17, 15, 31, 23, 16, 25, 34, 24, 28, 14, 1...","[102248, 69945, 255169, 110260, 27586, 288795,..."
5,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[1, 76, 26, 3, 12, 4, 5, 7, 9, 11, 10, 8, 13, ...","[114147, 386969, 115726, 115916, 136451, 95408..."
6,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[1, 12, 26, 8, 3, 4, 10, 5, 9, 11, 18, 13, 16,...","[114147, 136451, 115726, 243510, 115916, 95408..."
7,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[1, 12, 26, 8, 3, 4, 10, 5, 17, 11, 18, 13, 16...","[114147, 136451, 115726, 243510, 115916, 95408..."
8,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[1, 12, 26, 8, 3, 4, 10, 5, 11, 17, 18, 13, 16...","[114147, 136451, 115726, 243510, 115916, 95408..."
9,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0...","[1, 12, 26, 8, 3, 4, 24, 17, 11, 18, 10, 13, 1...","[114147, 136451, 115726, 243510, 115916, 95408..."

In [8]:
playerid = lineup['playerid'][0]
number = lineup['number'][0]

In [9]:
dictionary = dict(zip(number, playerid))

In [10]:
dictionary

{26: 102248,
 2: 125211,
 15: 255169,
 3: 297403,
 23: 27586,
 16: 288795,
 25: 125209,
 34: 89401,
 30: 345845,
 7: 367185,
 14: 44120,
 1: 92173,
 4: 361822,
 17: 69945,
 24: 342564,
 28: 342563,
 31: 110260,
 32: 363686,
 47: 367184,
 54: 389352}

In [11]:
lookup_dictionary = {int(key): value for key, 
                     value in data['playerIdNameDictionary'].items()}

In [12]:
lookup_dictionary

{102248: 'Emiliano Martínez',
 108226: 'Mohamed Salah',
 109915: 'Sadio Mané',
 110260: 'Sead Kolasinac',
 114147: 'Alisson',
 115726: 'Andrew Robertson',
 115916: 'Fabinho',
 125209: 'Mohamed Elneny',
 125211: 'Héctor Bellerín',
 136451: 'Joseph Gomez',
 243510: 'Naby Keita',
 244779: 'Marko Grujic',
 255169: 'Ainsley Maitland-Niles',
 262838: 'Takumi Minamino',
 27586: 'David Luiz',
 288795: 'Rob Holding',
 297403: 'Kieran Tierney',
 301455: 'Konstantinos Tsimikas',
 33568: 'Georginio Wijnaldum',
 336285: 'Rhian Brewster',
 342563: 'Joseph Willock',
 342564: 'Reiss Nelson',
 345845: 'Eddie Nketiah',
 355354: 'Curtis Jones',
 361822: 'William Saliba',
 363686: 'Emile Smith Rowe',
 363982: 'Harvey Elliott',
 367184: 'Tyreece John-Jules',
 367185: 'Bukayo Saka',
 386969: 'Neco Williams',
 386970: 'Billy Koumetio',
 389352: 'James Olayinka',
 44120: 'Pierre-Emerick Aubameyang',
 4511: 'James Milner',
 69945: 'Cédric Soares',
 73399: 'Adrián',
 89401: 'Granit Xhaka',
 92173: 'Bernd Leno',
 95408: 'Virgil van Dijk',
 96182: 'Roberto Firmino'}

In [13]:
class Player:
    def __init__(self, player, df):
        self.id = player["player"]["id"]
        self.name = player["player"]["name"]
        self.average_position(df

SyntaxError: unexpected EOF while parsing (<ipython-input-13-9b1c2f956e45>, line 5)

In [14]:
with open('data.json') as json_file:
    data = json.load(json_file)
    
event = []
minute = []
second = []
player = []
team = []
outcome = []
x = []
y = []
endX = []
endY = []

for each in data['events']:
    event.append(each['type']['displayName'])
    try:
        minute.append(each['minute'])
    except:
        minute.append('')
    try:
        second.append(each['second'])
    except:
        second.append('')
    try:
        player.append(each['playerId'])
    except:
        player.append('')
    try:
        team.append(each['teamId'])
    except:
        team.append('')
    try:
        endX.append(each['endX'])
        endY.append(each['endY'])
    except:
        endX.append('')
        endY.append('')
    outcome.append(each['outcomeType']['displayName'])
    x.append(each['x'])
    y.append(each['y'])

events = pd.DataFrame({'Event':event, 'Minute':minute, 'Second':second, 'Player':player, 'Team':team, 'Outcome':outcome, 'X':x, 'Y':y,
                      'endX':endX, 'endY':endY})

In [18]:
events['Event'].value_counts()

Pass               1143
BallRecovery         97
Aerial               56
BallTouch            51
Clearance            37
Foul                 36
TakeOn               28
Interception         23
Tackle               23
Challenge            19
KeeperPickup         17
CornerAwarded        16
Dispossessed         15
BlockedPass          12
Goal                 11
SavedShot            11
Save                 11
PenaltyFaced         10
MissedShots          10
SubstitutionOn        8
End                   8
SubstitutionOff       8
Start                 6
FormationChange       3
OffsidePass           3
OffsideProvoked       3
OffsideGiven          3
Claim                 2
ShieldBallOpp         2
FormationSet          2
Error                 1
ShotOnPost            1
Card                  1
Name: Event, dtype: int64

In [173]:
data['playerIdNameDictionary']

{'102248': 'Emiliano Martínez',
 '108226': 'Mohamed Salah',
 '109915': 'Sadio Mané',
 '110260': 'Sead Kolasinac',
 '114147': 'Alisson',
 '115726': 'Andrew Robertson',
 '115916': 'Fabinho',
 '125209': 'Mohamed Elneny',
 '125211': 'Héctor Bellerín',
 '136451': 'Joseph Gomez',
 '243510': 'Naby Keita',
 '244779': 'Marko Grujic',
 '255169': 'Ainsley Maitland-Niles',
 '262838': 'Takumi Minamino',
 '27586': 'David Luiz',
 '288795': 'Rob Holding',
 '297403': 'Kieran Tierney',
 '301455': 'Konstantinos Tsimikas',
 '33568': 'Georginio Wijnaldum',
 '336285': 'Rhian Brewster',
 '342563': 'Joseph Willock',
 '342564': 'Reiss Nelson',
 '345845': 'Eddie Nketiah',
 '355354': 'Curtis Jones',
 '361822': 'William Saliba',
 '363686': 'Emile Smith Rowe',
 '363982': 'Harvey Elliott',
 '367184': 'Tyreece John-Jules',
 '367185': 'Bukayo Saka',
 '386969': 'Neco Williams',
 '386970': 'Billy Koumetio',
 '389352': 'James Olayinka',
 '44120': 'Pierre-Emerick Aubameyang',
 '4511': 'James Milner',
 '69945': 'Cédric Soares',
 '73399': 'Adrián',
 '89401': 'Granit Xhaka',
 '92173': 'Bernd Leno',
 '95408': 'Virgil van Dijk',
 '96182': 'Roberto Firmino'}

In [6]:
events.dtypes

Event       object
Minute       int64
Second      object
Player      object
Team         int64
Outcome     object
X          float64
Y          float64
endX        object
endY        object
dtype: object

In [25]:
events['Second'] = events['Second'].apply(pd.to_numeric, errors='coerce')

In [27]:
mask = ((events['Minute'] > 16) & (events['Second'] > 11)) & (events['Minute'] < 19)
auba_goal = events.loc[mask].copy()
auba_goal.Event.value_counts()

Pass            18
BallRecovery     1
Name: Event, dtype: int64

In [ ]:
# events['Event'].value_counts()

In [8]:
mask = ((events.Event == 'Pass') | (events.Event == 'Goal') | (events.Event == 'Error'))
passData = events.loc[mask]

In [9]:
passData.Event.value_counts()

Pass     999
Goal       2
Error      1
Name: Event, dtype: int64

In [8]:
events

,Event,Minute,Second,Player,Team,Outcome,X,Y,endX,endY
0,Start,0,0,,26,Successful,0.0,0.0,,
1,Start,0,0,,13,Successful,0.0,0.0,,
2,Pass,0,1,4511,26,Successful,50.3,50.0,30.5,46.3
3,Pass,0,3,136451,26,Unsuccessful,30.5,46.3,72.6,89.9
4,Pass,0,5,125211,13,Unsuccessful,25.0,14.0,27.3,12.1
...,...,...,...,...,...,...,...,...,...,...
1672,End,96,56,,26,Successful,0.0,0.0,,
1673,End,0,0,,26,Successful,0.0,0.0,,
1674,End,0,0,,13,Successful,0.0,0.0,,
1675,FormationSet,0,0,,26,Successful,0.0,0.0,,
1676,FormationSet,0,0,,13,Successful,0.0,0.0,,

In [9]:
events.to_csv('arsenal_liverpool.csv', index=False)

In [ ]:
{'102248': 'Emiliano Martínez',
 '125211': 'Héctor Bellerín',
 '27586': 'David Luiz',
 '144890': 'Dani Ceballos',
 '239872': 'Nicolas Pépé',
 '297403': 'Kieran Tierney',
 '44120': 'Pierre-Emerick Aubameyang',
 '73078': 'Alexandre Lacazette',
 '80921': 'Shkodran Mustafi',
 '89401': 'Granit Xhaka'}