In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.patches as patches
from math import pi
from highlight_text import htext
from matplotlib import cm
import matplotlib.patheffects as path_effects
from sklearn.neighbors import KernelDensity

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.gridspec as grid_spec

%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df_0102 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2001-2002/Arsenal-Stats')[0]
df_0203 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2002-2003/Arsenal-Stats')[0]
df_0304 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2003-2004/Arsenal-Stats')[0]
df_0405 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2004-2005/Arsenal-Stats')[0]
df_0506 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2005-2006/Arsenal-Stats')[0]
df_0607 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2006-2007/Arsenal-Stats')[0]
df_0708 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2007-2008/Arsenal-Stats')[0]
df_0809 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2008-2009/Arsenal-Stats')[0]
df_0910 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2009-2010/Arsenal-Stats')[0]
df_1011 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2010-2011/Arsenal-Stats')[0]
df_1112 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2011-2012/Arsenal-Stats')[0]
df_1213 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2012-2013/Arsenal-Stats')[0]
df_1314 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2013-2014/Arsenal-Stats')[0]
df_1415 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2014-2015/Arsenal-Stats')[0]
df_1516 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2015-2016/Arsenal-Stats')[0]
df_1617 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2016-2017/Arsenal-Stats')[0]
df_1718 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2017-2018/Arsenal-Stats')[0]
df_1819 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2018-2019/Arsenal-Stats')[0]
df_1920 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2019-2020/Arsenal-Stats')[0]
df_2021 = pd.read_html('https://fbref.com/en/squads/18bb7c10/2020-2021/Arsenal-Stats')[0]

In [4]:
def fbref_dropheader(df):
    my_df = df.copy()
    my_df = my_df.droplevel(0, axis=1)
    return(my_df)

In [5]:
df_0102 = fbref_dropheader(df_0102)
df_0203 = fbref_dropheader(df_0203)
df_0304 = fbref_dropheader(df_0304)
df_0405 = fbref_dropheader(df_0405)
df_0506 = fbref_dropheader(df_0506)
df_0607 = fbref_dropheader(df_0607)
df_0708 = fbref_dropheader(df_0708)
df_0809 = fbref_dropheader(df_0809)
df_0910 = fbref_dropheader(df_0910)
df_1011 = fbref_dropheader(df_1011)
df_1112 = fbref_dropheader(df_1112)
df_1213 = fbref_dropheader(df_1213)
df_1314 = fbref_dropheader(df_1314)
df_1415 = fbref_dropheader(df_1415)
df_1516 = fbref_dropheader(df_1516)
df_1617 = fbref_dropheader(df_1617)
df_1718 = fbref_dropheader(df_1718)
df_1819 = fbref_dropheader(df_1819)
df_1920 = fbref_dropheader(df_1920)
df_2021 = fbref_dropheader(df_2021)

In [6]:
df_2021['Age'] = df_2021['Age'].str[:2]

In [7]:
df_0102.loc[:,'Season'] = '2001/2002'
df_0203.loc[:,'Season'] = '2002/2003'
df_0304.loc[:,'Season'] = '2003/2004'
df_0405.loc[:,'Season'] = '2004/2005'
df_0506.loc[:,'Season'] = '2005/2006'
df_0607.loc[:,'Season'] = '2006/2007'
df_0708.loc[:,'Season'] = '2007/2008'
df_0809.loc[:,'Season'] = '2008/2009'
df_0910.loc[:,'Season'] = '2009/2010'
df_1011.loc[:,'Season'] = '2010/2012'
df_1112.loc[:,'Season'] = '2011/2012'
df_1213.loc[:,'Season'] = '2012/2013'
df_1314.loc[:,'Season'] = '2013/2014'
df_1415.loc[:,'Season'] = '2014/2015'
df_1516.loc[:,'Season'] = '2015/2016'
df_1617.loc[:,'Season'] = '2016/2017'
df_1718.loc[:,'Season'] = '2017/2018'
df_1819.loc[:,'Season'] = '2018/2019'
df_1920.loc[:,'Season'] = '2019/2020'
df_2021.loc[:,'Season'] = '2020/2021'

In [8]:
df_0102.to_csv('fbref_arse_0102.csv', index=False)
df_0203.to_csv('fbref_arse_0203.csv', index=False)
df_0304.to_csv('fbref_arse_0304.csv', index=False)
df_0405.to_csv('fbref_arse_0405.csv', index=False)
df_0506.to_csv('fbref_arse_0506.csv', index=False)
df_0607.to_csv('fbref_arse_0607.csv', index=False)
df_0708.to_csv('fbref_arse_0708.csv', index=False)
df_0809.to_csv('fbref_arse_0809.csv', index=False)
df_0910.to_csv('fbref_arse_0910.csv', index=False)
df_1011.to_csv('fbref_arse_1011.csv', index=False)
df_1112.to_csv('fbref_arse_1112.csv', index=False)
df_1213.to_csv('fbref_arse_1213.csv', index=False)
df_1314.to_csv('fbref_arse_1314.csv', index=False)
df_1415.to_csv('fbref_arse_1415.csv', index=False)
df_1516.to_csv('fbref_arse_1516.csv', index=False)
df_1617.to_csv('fbref_arse_1617.csv', index=False)
df_1718.to_csv('fbref_arse_1718.csv', index=False)
df_1819.to_csv('fbref_arse_1819.csv', index=False)
df_1920.to_csv('fbref_arse_1920.csv', index=False)
df_2021.to_csv('fbref_arse_2021.csv', index=False)

In [9]:
import os
import glob

In [11]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "arsenal_all.csv", index=False, encoding='utf-8-sig')

In [75]:
df = pd.read_csv('./arsenal_all.csv')

In [76]:
df.Season.dtypes

dtype('O')

In [77]:
df['nineties'] = df['Min'] / 90

2019/2020    35
2017/2018    34
2016/2017    33
2011/2012    33
2014/2015    33
2018/2019    32
2009/2010    31
2002/2003    29
2008/2009    29
2005/2006    28
2015/2016    28
2010/2012    28
2013/2014    28
2007/2008    28
2012/2013    27
2001/2002    26
2006/2007    25
2004/2005    25
2003/2004    23
2020/2021    23
Name: Season, dtype: int64

In [81]:
mask = df['nineties'] > 11.11
mask.loc[df]

ValueError: Cannot index with multidimensional key

In [57]:
mask = df['Player'] != 'Squad Total'
df = df.loc[mask]

In [58]:
df = df[['Player', 'Age', 'Season']]

In [59]:
df

                  Player   Age     Season
0            Gaël Clichy  22.0  2007/2008
1      Emmanuel Adebayor  23.0  2007/2008
2          Cesc Fàbregas  20.0  2007/2008
3         William Gallas  29.0  2007/2008
4        Mathieu Flamini  23.0  2007/2008
..                   ...   ...        ...
572            Alex Song  17.0  2005/2006
573          Seb Larsson  20.0  2005/2006
574       Kerrea Gilbert  18.0  2005/2006
575  Quincy Owusu-Abeyie  19.0  2005/2006
576        Arturo Lupoli  18.0  2005/2006

[558 rows x 3 columns]

In [60]:
def fbref_cleaner(df):
    all_columns = list(df.columns)
    unwanted_columns = {'Player','Season'}
    index_columns = [ele for ele in all_columns if ele not in unwanted_columns]
    num_df = df.loc[:,index_columns].apply(pd.to_numeric, errors='coerce')
    num_df.fillna(0, inplace=True)
    master_df = pd.concat([df[['Player','Season']], num_df], axis = 1)
    return master_df

In [61]:
df = fbref_cleaner(df)

In [ ]:
df1 = df.groupby('Season').Age.mean().sort_values()
df1

In [ ]:
teams = ['2008/2009',
         '2007/2008',
         '2009/2010',
         '2005/2006',
         '2019/2020',
         '2006/2007',
         '2011/2012',
         '2014/2015',
         '2004/2005',
         '2010/2012',
         '2012/2013',
         '2018/2019',
         '2013/2014',
         '2016/2017',
         '2017/2018',
         '2015/2016',
         '2002/2003',
         '2003/2004',
         '2020/2021',
         '2001/2002']

gs = grid_spec.GridSpec(len(teams),1)
fig = plt.figure(figsize=(8,10))

i = 0

ax_objs = []
for team in teams:
    team = teams[i]
    x = np.array(df[df.Season == team].Age)
    x_d = np.linspace(15.5,41, 1000)

    kde = KernelDensity(bandwidth=0.6, kernel='gaussian')
    kde.fit(x[:, None])

    logprob = kde.score_samples(x_d[:, None])

    # creating new axes object
    ax_objs.append(fig.add_subplot(gs[i:i+1, :]))

    # plotting the distribution
    ax_objs[-1].plot(x_d, np.exp(logprob),color="#f0f0f0",lw=1)
    ax_objs[-1].fill_between(x_d, np.exp(logprob), alpha=1)

    # make background transparent
    rect = ax_objs[-1].patch
    rect.set_alpha(0)
    
    # remove borders, axis ticks, and labels
    ax_objs[-1].set_yticklabels([])
    ax_objs[-1].set_ylabel('')

#     # remove borders, axis ticks, and labels
#     ax_objs[-1].set_yticklabels([])

    if i == len(teams)-1:
        ax_objs[-1].set_xlabel("Age", fontsize=16,fontweight="bold")
    else:
        ax_objs[-1].set_xticklabels([])

    spines = ["top","right","left","bottom"]
    for s in spines:
        ax_objs[-1].spines[s].set_visible(False)

    adj_country = team.replace(" "," ")
    ax_objs[-1].text(14,0,adj_country,fontweight="bold",fontsize=10,ha="right")


    i += 1

gs.update(hspace=-0.4)

fig.text(0.25,0.89,"Arsenal Squad Age Distribution",fontsize=20)

plt.tight_layout()
plt.show()